body{
    color: blue;
    color:#333;
    text-align:right;
    font-family: Helvetica;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera{
    background: peru;
    color: pink;
    font-weight: bold;
    margin: 0;
    padding: 1em;
}
#cabecera #tagline{
    margin:0 0 0 0;
    font-weight: normal;
    font-weight: 0.5em;
}
#container{
    width: 80%;
    padding: 0.5em;
    text-align: left;
    border: 1px solid #333;
    margin: 0 initial;
}
#container h1{
    font-size: 20px;
}